.table {
  padding: 10px;
  border: dashed;
  border-color:#ff90f4;
}

.th {
  padding: 10px;
  text-align: left;
}

.th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.td {
  padding: 10px;
  text-align: left;
  font-style: italic;
}

.lecturetable {
  color: white;
}

.link {
  text-decoration-color: #ff90f4;
}

a:link {
  color:#ff90f4;
}

a:visited {
  color:#ff90f4;
}