.App {
  text-align: center;
  background: #130113;
  height: 100vh;
}

.checkbox {
  padding: 15px;
}

.MovieCard {
  background-color: #a1fff8;
  box-shadow: 0 0 7px #509fff, 0 0 32px #0cf;
  border-radius: 8px;

}

.header {
  padding: 20px;
  color: #ff90f4;
  text-shadow: 0 0 7px #ff14bc, 0 0 32px #f100ff;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}